body {
    background-color: sandybrown;
}

#firstlabel {
    font-size: 84px;
}

.labels {
    font-size: larger;
    margin-right: 8px;
    margin-left: 3px;
}

button:hover {
    cursor: pointer;
    background-color: cornflowerblue;
}

.selectStyling {
    width: 210px;
    height: 30px;
    font-weight: normal;
    margin-top: 7px;
}

#amountfield {
    width: 380px;
    height: 25px;
    margin-top: 50px;
}
.labelforamount{
    font-size: larger;
}
.buttonStyling {
    width: 104px;
    height: 39px;
    font-size: large;
    text-align: center;
    background: rgb(0, 70, 156);
    margin: 25px auto;
    color: antiquewhite;
}

.buttonStyling {
    margin-left: 50px;
}

.container {
    width: 700px;
    height: 370px;
    margin: 170px auto;
    text-align: center;
    background-color: rgba(1, 3, 3, 0.561);
}