.container {
    width: 390px;
    height: 445px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    padding-top: 5px;
    border-radius: 30px;
    margin-top: 200px;
}

body {
    background-color: rgb(129, 129, 222);

}

button:hover {
    cursor: pointer;
    background-color: cornflowerblue;
}

.fieldStyling {
    width: 240px;
    height: 30px;
}

.headingStyling {
    font-size: 35px;
}

.signupbutton {
    display: inline-block;
    text-decoration: none;
    border-radius: 35px;
    background-color: rgb(129, 129, 222);
    color: white;
    width: 247px;
    height: 30px;
    padding-top: 10px;
}